PORT=4000
JWT_SECRET=change_me_to_a_long_random_string

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=pokersite

CULQI_SECRET_KEY=
CULQI_WEBHOOK_SECRET=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
